services:
  backend:
    build: ./backend
    container_name: rathena-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app  
    env_file:
      - .env
  frontend:
    build: ./frontend
    container_name: rathena-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env